[style*='opacity:0'] {
  opacity: unset !important;
  transform: unset !important;
}
a:not(.underlined):hover,
a:not(.underlined):focus {
  text-decoration: underline !important;
}

/* This is for anything that just won't work without JavaScript */
.noscript-hidden {
  display: none !important;
}
