.comment,
.comment.linenumber {
  color: rgba(172, 182, 191, 0.55);
}

.token.property,
.token.tag,
.token.tag.script.number,
.token.tag.script.parameter,
.token.boolean {
  color: #92a2f0;
}

.token.string,
.token.tag.script.function,
.token.tag.attr-value,
.token.parameter.punctuation,
.token.regex.regex-source.language-regex {
  color: #bde779;
}

.token.regex.regex-delimiter {
  color: #E96379;
}

.token.keyword,
.token.punctuation {
  color: #ce9dfc;
}

.token.tag.attr-name,
.token.function-variable,
.token.function {
  color: #67e480;
}

.token.tag.punctuation {
  color: inherit;
}
